﻿<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Scarica la nostra Landing Page per le Applicazioni Mobile e utilizzatela per le App che avete creato. La nostra Landing Page e completamente gratis.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="~/font/dosis-regular/font.css">
    <link rel="stylesheet" type="text/css" href="~/font/dosis-bold/font.css">

    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <!--Owl Carousel-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <!--Font Awsome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--Background-video-->
    <title>Apps iMobil - App Mobile Landing Page Gratis - Web Domus Italia</title>
</head>
<body>
    <!--Navbar Desktop-->
    <div class="main-container desktop-nav nav-bkg-color hidden-md-down to d-none d-lg-block">
        <div class="inside-container nav-contain">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="navbar-nav nav-list ml-auto">
                    <a class="menu" href="#">Home</a>
                    <a class="menu" href="#">Features</a>
                    <a class="menu" href="#">Download</a>
                    <a class="menu" href="#">Description</a>
                    <a class="menu" href="#">Screenshots</a>
                    <a class="menu" href="#">Team</a>
                    <a class="menu" href="#">Reviews</a>
                    <a class="menu" href="#">Pricing</a>
                    <a class="menu-last" href="#">Contact</a>
                </div>
            </nav>
        </div>
    </div>
    <!--Navbar Mobile-->
    <div class="main-container mobile-nav nav-bkg-color hidden-lg-up to d-lg-none">
        <div class="inside-container nav-contain">
            <nav class="navbar navbar-expand-lg navbar-light">
                <span style="color: #53c5d5; font-size:25px; margin:0px auto; font-weight:bold;">詳細資訊</span>
                <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>-->
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav nav-list ml-auto">
                        <a class="menu" href="#">Home</a>
                        <a class="menu" href="#">Features</a>
                        <a class="menu" href="#">Download</a>
                        <a class="menu" href="#">Description</a>
                        <a class="menu" href="#">Screenshots</a>
                        <a class="menu" href="#">Team</a>
                        <a class="menu" href="#">Reviews</a>
                        <a class="menu" href="#">Pricing</a>
                        <a class="menu-last" href="#">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!--Welcome-->
    <div class="main-container">
        <div class="inside-container">
            <div class="row welcome-content3">
                <div class="col-12">
                    <h2> <span style="color: #000000; font-weight:bold;">綠島浮潛團 </span></h2>
                </div>
            </div>
            <hr size="5" align="center" noshade width="100%" color="53c5d5">
            <div class="row welcome-colum">
                <div class="col-lg-4">
                    <div class="row star-hover">
                        <div class="bar2">
                            <img src="~/image/IMG-9295.jpg" width="50px" alt="Italian Trulli" class="picc" align=left>
                        </div>
                        <div class="bar4">
                            <h3>火車票</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row star-hover">
                        <div class="bar2">
                            <img src="~/image/IMG-9296.jpg" width="50px" alt="Italian Trulli" class="picc" align=left>
                        </div>
                        <div class="bar4">
                            <h3>$2400</h3>
                        </div>
                    </div>
                </div>

                <hr size="5" align="center" noshade width="100%" color="53c5d5">
                <div class="welcome-content2">
                    <div class="row3">
                        <div class="col-2">
                            <img src="~/image/avatar.png" width="50px" alt="Italian Trulli" class="picc4">
                        </div>
                        <div class="col-10">
                            <h3>何小霆 付 $2400</h3>
                        </div>
                    </div>
                </div>
                <hr size="5" align="center" noshade width="100%" color="53c5d5">
                <div class="col-lg-4">
                    <div class="row2">
                        <div class="col-3">
                            <img src="~/image/avatar.png" width="50px" alt="Italian Trulli" class="picc2">
                        </div>
                        <div class="col-4">
                            <p>何小霆</p>
                        </div>
                        <div class="col-5">
                            <p>+ $1600</p>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="col-3">
                            <img src="~/image/avatar.png" width="50px" alt="Italian Trulli" class="picc2">
                        </div>
                        <div class="col-4">
                            <p>吳小哲</p>
                        </div>
                        <div class="col-5">
                            <p>- $800</p>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="col-3">
                            <img src="~/image/avatar.png" width="50px" alt="Italian Trulli" class="picc2">
                        </div>
                        <div class="col-4">
                            <p>許小喩</p>
                        </div>
                        <div class="col-5">
                            <p>- $800</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr size="5" align="center" noshade width="100%" color="53c5d5">
        <div class="col-lg-4 star-hover">
            <div class="row content-colum">
                <div class="bar6">
                    <button id="btn" type="button" class="btn btn-info">返回</button>
                </div>
            </div>
        </div>
    </div><!--Features-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script>$(document).ready( function () {
            $('#btn').on('click', function () {
                window.location.href = "/";
            });
            
        });</script>
</body>
</html>