/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*Global*/
  * {
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100%;
    font-family: 'Dosis Regular', sans-serif;
    font-size: 16px;
    line-height: 26px;
    background-color: #ffffff;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
  }
  button {
    cursor: pointer;
  }
  

/*Container*/
  .main-container {
    max-width: 1950px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .inside-container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
  }
  @media (max-width: 992px) { 
      h2{
          font-size: 30px!important;
          line-height: 50px!important;
      }
      p {
        width: 100%!important;
      }
  }
  /*Custom*/
    /*Banner*/
    .banner {
      width: 100%;
      min-height: 1000px;
      background-image: url(../image/banner-main-1.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 0;
      opacity: .9;
    }
    /*overlay color*/    
    .logo img {
      margin: 120px 0 70px 0;
        
    }
    .logo img {
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
    .banner-content img {
      overflow: hidden;
      min-height: 670px;
      height: auto;
    }
    .content {
      padding-left: 55px;
    }
    .content h1 {
      font-family: Dosis-bold;
      font-size: 61px;
      line-height: 26px;  
      color: #fff;
      margin-bottom: 50px;
    }
    .content h2 {
      font-size: 33px;
      line-height: 26px;
      color: #fff;
      margin-bottom: 25px;
    }
    .content p {
      width: 55%;
      font-size: 18px;
      line-height: 30px;
      color: #fff;
      margin-bottom: 90px;
    }
    .butns .get-btn  {
      font-family: Dosis-bold;
      font-size: 16px;
      line-height: 26px;
      text-transform: uppercase;
      color: #fff;
      background-color: #53c5d5;
      border-radius: 50px; 
      border: 2px solid #53c5d5;
      padding: 10px 49px;
      margin-right: 20px;
      margin-bottom: 30px;
    }    
    .butns .learn-btn {
      font-family: Dosis-bold;
      font-size: 16px;
      line-height: 26px;
      text-transform: uppercase;
      color: #fff;
      background-color: transparent;
      border-radius: 50px; 
      border: 2px solid #ffffff;
      padding: 10px 45px;
      margin-bottom: 30px;
    }
    /*Nav*/
    .nav-bkg-color {
      -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.07);
      -moz-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.07);
      box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.07);
      z-index:999; 
    }
    .nav-contain nav {
      /*padding: 28px 15px;*/
    }
    .nav-list .menu {
      color: #333333;
      font-family: Dosis Regular;
      font-size: 18px;
      line-height: 26px;
      padding: 0 20px;
      text-decoration: none;        
    }
    .nav-list .menu:hover {
        color: #53c5d5;
        cursor: pointer;
    }
    .nav-list .menu-last {
      color: #333333;
      font-family: Dosis Regular;
      font-size: 18px;
      line-height: 26px;
      padding-left: 10px;
      text-decoration: none; 
    }   
    .nav-list .menu-last:hover {
      color: #53c5d5;
      cursor: pointer;
    }
    .fixed-top {
      background-color: #fff;
      z-index: 999;
    }
    @media (max-width: 576px) {
        .content {
            text-align: center;
        }
        .butns {
            text-align: center;
        }
        .butns .get-btn {
            margin-right:0px!important;
        }
    }   
    @media (max-width: 992px) {
        /*Banner*/
        .content {
            padding-left: 40px;
            padding-right: 40px;
        }
        .content p {
            width: 100%;
        } 
        .banner-content img {
            min-height: auto;
        }
        /*Navbar*/
        .nav-list .menu, .menu-last {
            text-align: center;
            padding: 10px 10px;
        }
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {        
        .nav-list .menu {
            padding: 0 10px!important;
        }

     }
    /*Welcome*/
    .welcome-content {
        padding-top: 40px;
        padding-bottom: 20px;
        display: block;
        text-align: center;
    }

    .welcome-content3 {
        padding-top: 20px;
        display: block;
        text-align: center;
    }
    .welcome-content2 {
        padding-bottom: 20px;
        display: block;
        text-align: center;
        margin:0px auto;
        height:40px;
    }
    .welcome-content h2{
        font-family: Dosis-Bold;
        font-size: 44px;
        line-height: 26px;        
    }
    .welcome-content hr {
        background-color: #53c5d5;
        width: 117px;
        margin-top: 22px;
    }
    .welcome-content p {
        width: 50%;
        font-size: 22px;
        line-height: 35px;
        margin: auto;
    }
    .welcome-colum {
        padding-bottom: 250px;
    }
    .welcome-colum2 {
        padding-bottom: 20px;
    }
    .welcome-colum h3 {
        font-family: Dosis-bold;
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    .welcome-colum p {
        width: 93%;
        font-size: 16px;
        line-height: 26px;
    }
    .icon-img {
        text-align: center;
        margin-top: 6px;
        padding-bottom: 15px;        
    }
    .welcome-colum .icon-img i {
        color: #00c6d7;
        font-size: 35px;
        border: 2px solid #00c6d7;
        border-radius: 50%;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .welcome-colum .star-hover:hover {
        cursor: pointer;
    }
    .welcome-colum .star-hover:hover i{
        background-color: #00c6d7;
        color:#fff;
        border-color: #00c6d7;
        cursor: pointer;
    }
    .welcome-colum .icon-img .fa-star-of-life {
        padding: 16px 18px;
    }
    .welcome-colum .icon-img .fa-sitemap {
        padding: 17px 13px;
        font-size:34px;
    }
    .welcome-colum .icon-img .fa-lightbulb {
        padding: 16px 22px;
    }
		/*Features*/
    .features-sec {
    	  background-color: #ecf0f1; 
    }
    .features-row {
    	  padding-top: 160px;
    }
    .detail-features h2{
    		font-family: Dosis-bold;
    		font-size: 44px;
    		line-height: 26px;
    }
    .detail-features hr {
    	max-width: 117px;
    	background-color: #53c5d5;
    	height: 2px;
    	margin: 25px 0px 30px 0px;
    }
    .detail-features p {
    	width: 77%;
    	font-family: Dosis Regular;
    	font-size: 22px;
    	line-height: 35px;

    }
    .features-cols {
		  margin-top: 55px;
    }
    .features-cols .services {
    	margin: 35px 0px;
    }
  	.services p {
  		width: 93%;
  	}
  	.phone-col {
  		margin-top: 90px;
  		margin-bottom:-3px;
  		text-align: center;
  	}
    .services .icon-img img {
        max-width: 50px;
        height: auto;
    }
    .services .icon-img .fas {
        font-size:50px;
        line-height:26px;
        margin-top: 12px;
        color: #00c6d7;
    }
  	/*Download*/
  	.downl-sec {
  		background-image: url(../image/bckg-download.jpg);
  		background-repeat: no-repeat;
  		background-size: cover;
  		background-position: center;
  		padding: 160px 0px 130px 0px;
  		color: #fff;
  	}
  	.detail-down h2 {
  		font-family: Dosis-bold;
  		font-size: 44px;
  		line-height: 26px;
  		text-align: center;
  	}
  	.detail-down hr {
  		max-width: 117px;
  		background-color: #fff;
  		height: 2px;
  		margin: 27px auto;
  	}
  	.detail-down p {
  		font-family: Dosis Regular;
  		font-size: 22px;
  		line-height: 35px;
  		text-align: center;
  		width: 49%;
      margin: auto;
  	}
  	.mobiles-down {
  		margin-top: 130px;
  	}
  	.mobiles-down a {
  		display: flex;
  		margin: 0 auto;
  		color: #fff;
  		border: 2px solid #fff;
  		background-color: transparent;			
  		padding: 7px 27px 14px 23px;	
  		min-width: 320px;
  		align-items: center;
      margin-bottom: 30px;
      text-decoration: none;
      height: 92px;
      max-width: 322px;
      max-height: 92px;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  	}
    .mobiles-down a:hover {
      background-color: #53c5d5;
    }
  	.mobiles-down a  p {
  		margin:0;
  		
  	}
  	.mobiles-down .apple-store {
  		background-color: transparent;
      margin-bottom: 30px;
      text-align: center;
  	}
    .mobiles-down .apple-store .fa-mobile-alt {
        font-size: 67px;
    }
    .mobiles-down .apple-store p {
      margin-left: auto;
    }
  	.mobiles-down .apple p {		
  		padding: 0 0 0 63px;	 
  	}
  	.mobiles-down .google-store p{    
      font-family: Arial, Bold;
  		text-align: left;
  		line-height: 32px;
  		padding: 0 0 0 30px;
      vertical-align: middle;
      line-height: inherit;
  	}
    .mobiles-down .windows-store  {
      max-width: 362px;
      max-height: 92px;
    }
  	.mobiles-down .windows-store p {
  		text-align: left;
  		padding: 0 0 0 30px;
  	}
    @media (max-width: 992px) {
      .windows-store .win-phon {
          font-size: 26px!important;
      }
      .mobiles-down .windows-store  {
      max-width: 322px;
    }
    }
  	/*Why us*/
  	.chose {
  		padding-top: 100px;
  	}
  	.chose .iphones-5s {
  		margin-top: 150px;
  	}
  	.chose-detail {
  		margin-top: 60px;
  	}
  	.chose-detail h2 {
  		font-family: Dosis-bold;
  		font-size: 44px;
  		line-height: 26px;
  	}
  	.chose-detail hr {
  		margin: 25px 0px 30px 0px;
  		width: 117px;
  		height: 2px;
  		background-color: #53c5d5;
  	}
  	.chose-detail .desc {
  		font-family: Dosis Regular;
  		font-size: 22px;
  		line-height: 35px;
  		margin-bottom: 70px;
  	}
  	.chose-detail img {
  		margin-right: 15px;
  	}
    .chose-detail i {
      width: 19px;
      color: #00c6d7;
      margin-right: 15px;
    }
    @media (max-width: 992px) {
      .iphones-5s  {
          text-align: center;
      }
    }
  	/*Screenshot*/
  	.screenshot {
    		padding: 160px 0;
    		background-color: #ecf0f1;
   	}
   	.screen-detail {
   		  text-align: center;
   	}
   	.screen-detail h2 {
     		font-family: Dosis-bold;
     		font-size: 44px;
     		line-height: 26px;

   	}
   	.screen-detail hr {
     		width: 117px;
     		height: 2px;
     		background-color: #53c5d5;
     		margin: 27px auto;
   	}
    .screen-detail p{
        font-size: 22px;
        line-height: 35px;
        width: 50%;
        margin: auto;
    } 
    .owl-seci {
       margin-top: 80px;
    }
    .owl-seci .owl-theme .owl-dots .owl-dot span {
        background-color: #fff!important;
        border: 2px solid #53c5d5;
        width: 15px!important;
        height: 15px!important;
    }  
    .owl-theme .owl-dots .owl-dot.active span {
        background: #53c5d5!important;
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 55px!important;
    }
    .owl-theme .owl-dots .owl-dot span {
        margin: 5px 2.5px!important;
    }
    .screan-hover {
        width: auto;
        height: auto;     
        padding: 0;
        position: relative;
        overflow: hidden;
        margin:auto; 
    }  
   .screan-hover .screan-loop-hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left:0;
        background: rgba(126, 212, 224, 0.7);
        border: 40px solid rgba(0, 0, 0, 0.85); 
        opacity:0;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }
    .screan-hover .screan-loop-hover:hover {
      opacity: 1;
    }
    .screan-loop-hover img {
        width: 60px!important;
        height:60px;
        top: 44%;
        left: 37%;
        position: absolute;
    }
    .screan-hover:hover .screan-loop-hover {
        top: 0;
        cursor: pointer;
    }
    /*Video*/
    .video-sec {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        max-width: 1950px;
        background-color: rgba(0,0,0,.5);
        z-index: 2;
    }
     /*Video Plugin*/
    .video-background {
        background-image: url(../image/background-video.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .video-row {
        width: 100%;
        height: 1200px;
        border: 1px solid black;
        background-color: #000000ab;
    }
    .jquery-background-video-pauseplay {
        width: 100%;
        height: 100%;
        border: none;
        text-indent: -999em;
        overflow: hidden;
        opacity: 1;
        -webkit-transition: opacity 800ms, height 0s;
        -moz-transition: opacity 800ms, height 0s;
        transition: opacity 800ms, height 0s;
        -webkit-transition-delay: 0s, 0s;
        -moz-transition-delay: 0s, 0s;
        transition-delay: 0s, 0s;
        z-index: 30;
        background-color: transparent;
        border: none;
    }
    .jquery-background-video-pauseplay:hover {
        cursor: pointer;
    }
    .jquery-background-video-pauseplay:before {
        content: '';
        position: absolute;
        top: 55%;
        left: 50%;
        width: 200px;
        height: 200px;
        border: 5px solid #909494;
        border-radius: 100%;
        -webkit-transition: border-color 300ms;
        -moz-transition: border-color 300ms;
        transition: border-color 300ms;
        z-index: 3;
        transform: translate(-50%, -50%);
    }
    .jquery-background-video-pauseplay:after {
        content: '';
        position: absolute;
        top: 55%;
        left: 50%;
        border-left: 56px solid #fff;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-radius: 5px;
        -webkit-transition: border-color 300ms;
        -moz-transition: border-color 300ms;
        transition: border-color 300ms;
        z-index: 3;
        transform: translate(-50%, -50%);
    }
    .jquery-background-video-pauseplay:hover:before,  .jquery-background-video-pauseplay:focus:before {
        border-color: #53c5d5;
    }
    .jquery-background-video-pauseplay:hover:after, .jquery-background-video-pauseplay:focus:after {
        border-left-color: #53c5d5;
    }
     .pause {
        display: none;
    }
    /*Youtube button*/
    .detail-video {
        color:#fff;
        text-align: center;
        margin-top: 160px;
        width: 100%;
        padding: 0 15px;
        position: absolute;
        top: 0;
        left: 15px;
        z-index: 3;
    }
    .detail-video h2{
        font-family: Dosis-bold;
        font-size: 44px;
        line-height: 26px;
    }
    .detail-video hr {
        width:117px;
        height:2px;
        margin: 27px auto;
        background-color: #fff;
    }
    .detail-video p {
        font-size: 22px;
        line-height: 35px;
        width: 31%;
        margin: 0 auto;
    }  
    @media (min-width: 576px) and (max-width: 992px) { 
      .video-row {
        max-height: 900px;
      }
    }   
    @media (max-width: 576px) {
      .video-row {
        max-height: 650px;
      }  
      .detail-video {
        margin-top: 90px;
      }
      .jquery-background-video-pauseplay:before {
        position: absolute;
        top: 70%;
        width: 150px;
        height: 150px;
      }
      .jquery-background-video-pauseplay:after {
        position: absolute;
        top: 70%;
        border-left: 35px solid #fff;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
      }
    }
    /*Team*/
    .team-section {
        padding: 160px 0px;
    }
    .detail-team {
        text-align: center;
    }
    .detail-team h2 {
        font-family: Dosis-bold;
        font-size: 44px;
        line-height: 26px;
    }
    .detail-team hr {
        width: 117px;
        height: 2px;
        margin: 27px auto;
        background-color: #53c5d5;
    }
    .detail-team p {
        font-family: Dosis Regular;
        font-size: 22px;
        line-height: 35px;
        width: 50%;
        margin: 0 auto;
    }
    .team-members {
        margin-top: 80px;
        text-align: center;
    }
    .team-members img {
        border-radius: 50%!important;
    }
    .team-hover {
        max-width: 270px;
        max-height: 270px;     
        padding: 0;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        margin:auto;
    }
    .team-hover .loop-hover {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: transparent;
        border-radius: 50%;
        border: 35px solid #000000;
        opacity:0;
        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
    }
    .team-hover .loop-hover:hover {
        opacity: 1;
    }
    .loop-hover img {
        top: 40%;
        left: 40%;
        position: absolute;
    }
    .team-hover:hover .loop-hover {
        top: 0;
        -webkit-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, .75);
        box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, .75);
        cursor: pointer;
    }
    .team-members h3 {
        margin-top: 25px;
        font-family: Dosis-bold;
        font-size: 25px;
        line-height: 26px;
        color:#262626;
    }
    .team-members .team-role {
        font-family: Dosis-bold;
        font-size: 15px;
        line-height: 26px;
        color:#666666;
    }
    .team-members .team-desc {
        width: 94%;
        margin: 0 auto;
    }
    .icon-team i {
        font-size: 18px;
        margin: 25px 6px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .icon-team i:hover {
        color:#53c5d5;
        cursor: pointer;
    }
    /*Reviwes*/
    .review-sec {
        background-color: #ecf0f1;
        padding-top: 160px;
    }
    .detail-reviwe h2 {
        font-family: Dosis-bold;
        font-size: 44px;
        line-height: 22px;
        color: #262626;
    }
    .detail-reviwe hr {
        width: 117px;
        height: 2px;
        margin: 27px 0;
        background-color: #53c5d5;
    }
    .detail-reviwe .desc {
        font-size: 22px;
        line-height: 35px;
        width:77%;
        margin-bottom: 0px;
    }
    .phone-reviwe {
        margin-top: 90px;
        margin-bottom:-8px;
    }
    .testimonial blockquote {
        margin-top: 80px;
        margin-bottom: 0px;
        border: 2px solid #53c5d5;
        background-color: #fff;
        padding: 37px 34px;
        width: 92%;
    }
    .testimonial .testimonial-arrow img{
        margin-top: -3px;
        margin-left: 8%;
        width: 40px!important;
    }
    .testimonial .person{
        display: flex; 
        align-items: center; 
        margin-top: 13px;
    }
    .person img {
        text-align: center;
        max-width: 120px;
    }
    .person .name {
        font-family: Dosis-bold;
        margin: 0 30px;
    }
    .person h3 {      
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 13px;
    }
    .person p {
        font-size: 15px;
        line-height: 26px;
        margin-bottom: 0px;
    }
    .person a {
        color: #53c5d5;
    }
    .person a:hover {
       color: #53c5d5;
    }
    .owl-testimonial .owl-dot span {
        width: 15px!important;
        height: 15px!important;
    }
     .owl-testimonial .owl-dot .active span {    
        background-color: #cacccc!important;
        border: 2px solid #53c5d5;
     }
    .owl-testimonial .owl-dots {
        position: absolute;
        right: 7.5%;
        top: 63%;
    }
    @media (max-width: 992px) {
        .phone-reviwe {
            text-align: center;
        } 
        .testimonial blockquote {
          width: 100%;
        }
    } 
    /*Partners*/
    .partners-sec {
        background-color: #d65469;
    }
    .logo-partner {
        margin: 37px 0;
        text-align: center;
    }
    .logo-partner img {
        margin: 5px 0;
    } 
    /*Plan*/
    .plan-sec {
        background-image: url(../image/plan-backgr.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 160px 0px 100px 0px;
    }
    .detail-plan {
        text-align: center;
        color: #fff;
    }
    .detail-plan h2 {
       font-family: Dosis-bold;
       font-size: 44px;
       line-height: 26px;
    }
    .detail-plan hr {
        width: 117px;
        height: 2px;
        margin: 27px auto;
        background-color: #fff;
    }
    .detail-plan p {
        font-size: 22px;
        line-height: 35px;
        width: 50%;
        margin: 0 auto;
    }
    .offert-plan {
        margin: 100px auto 30px auto;
    } 
    .plans-col {
        max-width: 370px;
        width: 100%;
        margin: 30px 15px;
    } 
    .plans-col i {
        width: 24px;
        margin: 0 12px;
        color: #00c6d7;
        font-size: 22px;
    }
    .offert-plan h2 {
        font-family: Dosis-bold;
        font-size: 40px;
        line-height: 26px;
        text-align: center;
        color: #fff;
        margin-bottom: 0px;
    }
    .offert-plan button {
        background-color: #fff;
        border: 2px solid #53c5d5;
        border-radius: 50px;
        color: #53c5d5;
        font-family: Dosis-bold;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        padding: 17px 42px;
        margin-top: 40px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    /*Standart*/
    .offert-plan .standart-title {
        background-color: #53c5d5;
        padding: 28px 0;

    }
    .standart-img {
        text-align: center;
        background-color: #fff;
    }
    .standart-img img {
        width: 140px;
        height: 140px;
        margin:15px 0;
    }  
    .standart-desc {
        background-color: #ecf0f1;
        padding-top: 43px;
        padding-bottom: 60px;      
    }
    .standart-desc img {
        margin: 0 12px ;
        max-width: 24px;
    }
    .standart-desc p{
        font-size: 16px;
        line-height: 35px;
        padding-left: 43px;
        display: inline-block;
    }
    .standart-desc .button-plan{
          text-align: center;
    }
    .standart-desc button:hover {
        background-color: #53c5d5;
        color:#fff;
    }
    /*Profesional*/  
    .offert-plan .profs-title {
        background-color: #d65469;
        padding: 28px 0;
    }
    .profs-img {
        text-align: center;
        background-color: #fff;
    }
    .profs-img img {
        width: 140px;
        height: 140px;
        margin:15px 0;
    }  
    .profs-desc {
        background-color: #ecf0f1;
        padding-top: 43px;
        padding-bottom: 60px;      
    }
    .profs-desc img {
        margin: 0 12px;
        color: #d65469;
    }
    .profs-desc i {
        color: #f5536a;
    }
    .profs-desc p{
        font-size: 16px;
        line-height: 35px;
        padding-left: 43px;
        display: inline-block;
    }
    .profs-desc .button-plan{
        text-align: center;
    }
    .profs-desc button {
        border: 2px solid #d65469;
        color:#d65469;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .profs-desc button:hover {
        background-color: #d65469;
        color:#fff;
    }
     /*Ultimate*/
    .offert-plan .ultimate-title {
        background-color: #53c5d5;
        padding: 28px 0;

    }
    .ultimate-img {
        text-align: center;
        background-color: #fff;
    }
    .ultimate-img img {
        width: 140px;
        height: 140px;
        margin:15px 0;
    }  
    .ultimate-desc {
        background-color: #ecf0f1;
        padding-top: 43px;
        padding-bottom: 60px;      
    }
    .ultimate-desc img {
        margin: 0 12px ;
    }
    .ultimate-desc p{
        font-size: 16px;
        line-height: 35px;
        padding-left: 43px;
        display: inline-block;
    }
    .windows-store .win-phon {
        font-size: 32px;      
    }
    .ultimate-desc .button-plan{
        text-align: center;
    }
    .ultimate-desc button:hover {
        background-color: #53c5d5;
        color:#fff;
    }
    @media (max-width: 992px) {
        .plans-col {
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media (min-width: 992px) and (max-width: 1109.98px) {
        .mobiles-down a {
          min-width: 310px;
        }
        .plans-col {
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;
        }
        .offert-plan p {
            padding-left: 0px; 
        }
        .windows-store .win-phon {
            font-size: 27px;
        }
    }
    /*Newsletter*/
    .news-row {
        padding: 160px 15px;       
    }
    .detail-newsletter h2 {
        font-family: Dosis-bold;
        font-size: 44px;
        line-height: 26px;
    }
    .detail-newsletter hr {
        width: 117px;
        height:2px;
        margin: 25px 0;
        background-color: #53c5d5;
    }
    .news-form {
        max-width: 63%;
        border: 2px solid #53c5d5;
        font-size:18px;
        line-height: 35px;
        padding: 12px 30px;
    }
    .news-btn {
        font-size: 25px;
        line-height: 26px;
        color:#fff;
        background-color: #53c5d5;
        border: 2px solid #53c5d5;
        padding: 0px 65px;

    }
    @media (min-width: 992px) and (max-width: 1229.98px) {
        .detail-newsletter h2 {
          font-size: 38px;
        }
    }
    @media (max-width: 576px) { 
          .input-mobile {
              display: block;
          }
          .news-form {
              max-width: 100%!important;
              width: 100%!important;
              margin-bottom: 20px!important;
          }
          .news-btn {
              height: 63px;
              width: 100%;
          }
       } 
     
     /*Contact*/
    .contact-bckg {
        background-color: #ecf0f1;
        padding: 160px 0px;
    }
    .contact-title h2{
        font-family: Dosis-bold;
        font-size: 44px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 0;
    }
    .contact-title hr{
        width: 117px;
        height:2px;
        margin: 25px auto;
        background-color: #53c5d5;
    }
    .contact-title p {
        font-family: Dosis Regular;
        font-size: 22px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 80px;
    }
    .contact-detail h2 {
        font-family: Dosis-bold;
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .contact-detail .contct img{
        margin-right: 11px;
        text-align: center;
    }
     .contact-detail .contct i {
        width: 23px;
        margin-right: 11px;
        text-align: center;
        font-size: 24px;
        color:#00c7d8;
        vertical-align: middle;
     }
    .contact-detail .contct {
        line-height: 35px;
    }
    .contact-detail .contct a {
        color: #212529;
    }
    .contact-detail .contct a:hover {
        color: #53c5d5;
        text-decoration: none;
    }
    .form-contact {
        padding-left:30px;
        padding-right: 30px;
    }
    .form-contact h2 {
        font-family: Dosis-bold;
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    .form-group-edit {
        width: 70%;;
        margin-bottom: 10px;
    }
    .form-contact .form-control {
        padding: 13px 25px;
        border: none;
        transition: border-color 0s ease-in-out,box-shadow 0s ease-in-out;
    }
    .form-contact .form-btn { 
        font-family: Dosis-bold;
        color: #53c5d5;
        background-color: #fff;
        border: 2px solid #53c5d5;
        border-radius: 50px;
        padding: 10px 44px;
        text-transform: uppercase;
        margin-top: 14px;
    }
    .form-contact .form-btn:hover {
        background-color: #53c5d5;
        color: #fff;
        cursor: pointer;
    }
    .form-contact .form-control:focus {
        color: #495057;
        background-color: #fff;
        border: none;
        outline: none;
        box-shadow: inset 0 0 0 2px #53c5d5!important;
    }
    @media (max-width: 992px) {
        .form-contact {
            padding-left:15px;
            padding-right: 15px;
        }
    }
    @media (max-width: 576px) { 
        .form-contact {
            padding: 0px 15px;
        }
        .form-contact .form-group-edit{
            width: 100%;
        }
        .form-contact .form-btn {
            width: 100%;
        }
    }
    /*Footer*/
    .footer {
        background-image: url();
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .footer-content {
        text-align: center;
        color: #fff;
    }
    .footer-content .social-icons {
        margin-bottom: 45px;      
        display: inline-flex;
    }  
    .footer-content .social-icons i {
        margin:auto;
    }
    .footer-content span{
        display: inline-flex; 
        width: 32px;
        height:32px;
        border: 2px solid #53c5d5; 
        border-radius: 50%;
        margin: 0 4px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .footer-content a:hover{
        text-decoration: none;
        color:#fff;
    }
    .footer-content span:hover{
        background-color: #53c5d5;
        color:#fff;      
        cursor: pointer;
    }
    .footer-content img {
        width: 60px;
        height: 60px;
        margin:auto;
    }
    
    .copyright a:hover {
        color:#53c5d5;
    }

    .bar-image {
        width: 20%;
        float:left;
    }

    .bar {
        width: 33%;
        float:left;
        margin:0px auto;
    }
    .bar2 {
        float:left;

    }
    .bar3 {
        float:left;
        margin-left: 20px;
        margin-right: 20px;
    }
    .bar6 {
        float:left;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 150px;
    }
    .bar4 {
        float:left;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 10px;
    }
    .col-36 {
        text-align: center;
        padding: 5px;
        margin-top: 8px;
    }

    .col-60 {
        text-align: center;
        margin-top: 8px;
        float: left;
    }

    .far fa-lightbulb{
        size:200px;
    }

    .picc{
        margin-top: -5px;
        margin-left: 50px;
    }
    .picc2{
        margin-top: -5px;
        margin-left: 10px;
        float: left;
    }
    .picc4{
        margin-top: -5px;
        margin-left: 0px;
        float: left;
    }
    .picc3{
        margin-top: -5px;
        float: left;
    }

    .row2 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        margin-top: 7px;
    }
    .row3 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
        margin-top: 7px;
    }


    body{font-family:微軟正黑體!important;}

    .col-4{
        margin:0 auto;
    }